.cover_img{
    background-image: url(cover3.jpg);
    background-size: cover;
    background-position: center;
    height: 500pt;
    box-shadow:1pt 1pt 4pt 5pt #1e1e1ee6;

}

.cover_overlay{
    background: rgba(0, 0, 0, 0.747);
    height: 500pt;
    
}